.personitem {
  border: 2px solid black;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;

}

/*The styles below are assigned to each person dependent on their priority attribute value */
[class='1 personitem'] {
  background-color: orange;
}

[class='2 personitem'] {
  background-color: green;
}

[class='3 personitem'] {
  background-color: blue;
}

[class='4 personitem'] {
  background-color: purple;
}