.personitem {
  border: 2px solid black;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*The styles below are assigned to each person dependent on their priority  */
[class='1 personitem'] {
  background-color: rgb(228, 129, 0);
}

[class='2 personitem'] {
  background-color: rgb(0, 83, 0);
}

[class='3 personitem'] {
  background-color: rgb(12, 12, 161);
}

[class='4 personitem'] {
  background-color: rgb(105, 1, 105);
}